@keyframes rotating-asteroid {
  from {
    transform: rotate(0);
    right: 0;
  }

  to {
    transform: rotate(360deg);
    right: 100%;
  }
}

.asteroid {
  max-width: 120px;
  position: absolute;
  animation-name: rotating-asteroid;
  animation-iteration-count: infinite;
}