@keyframes rotating-asteroid {
  from {
    transform: rotate(0);
    left: 1000px;
  }

  to {
    transform: rotate(360deg);
    left: 0;
  }
}

.asteroid {
  max-width: 120px;
  position: absolute;
  animation-name: rotating-asteroid;
  animation-iteration-count: infinite;
}